# ==============================
# IntelliJ IDEA 开发工具生成文件
# ==============================

# 忽略IDEA项目核心配置目录（包含个人IDE设置、窗口布局、断点等个性化配置）
.idea/
/.idea/

# 忽略Maven构建工具的标准编译输出目录（包含所有编译、打包生成的文件）
target/
**/target/
**/target/**



# 忽略IDEA模块描述文件（记录模块的依赖、源码目录等信息）
*.iml
# 忽略IDEA旧版工作空间文件（已被.idea/workspace.xml替代）
*.iws
# 忽略IDEA旧版项目文件（已被.idea目录替代）
*.ipr

# ==============================
# Java 字节码文件 & 编译构建产物
# ==============================

# 忽略所有Java编译生成的字节码文件（.class文件）
*.class
# 忽略IDEA默认的编译输出目录
out/
# 忽略Gradle构建工具的编译输出目录
build/
